footer.page-footer.font-small.bg-dark.text-light
  .footer-copyright.text-center.py-3
    | &copy; 2019 Step Project Notes:
    a(href='https://github.com/vashenko49/step-project-notes').indigo  Step Project Notes