// Navbar
nav.navbar.navbar-light.amber.lighten-4.mb-4
  // Navbar brand
  a.navbar-brand(href='#') Step Project Notes
  // Collapse button
  button.navbar-toggler.first-button(type='button' data-toggle='collapse' data-target='#navbarSupportedContent20' aria-controls='navbarSupportedContent20' aria-expanded='false' aria-label='Toggle navigation')
    .animated-icon1
      span
      span
      span
  // Collapsible content
  #navbarSupportedContent20.collapse.navbar-collapse
    // Links
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#')
          | Home
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') Create usual card
      li.nav-item
        a.nav-link(href='#') Create check boc card
    // Links
  // Collapsible content
// /.Navbar
