nav.navbar.navbar-expand-md.bg-dark.navbar-dark.sticky-top
  a.navbar-brand(href='https://github.com/vashenko49/step-project-notes/tree/create_temlateBack_and_authorization') Step Project Notes
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
    span.navbar-toggler-icon
  #collapsibleNavbar.collapse.navbar-collapse
    ul.navbar-nav
      li#home-nav-link.nav-link.nav-item Home
      li#createusual-card-nav-link.nav-link.nav-item Create Usual Card
      li#createcheckbox-card-nav-link.nav-link.nav-item Create Check Box Card
      li#logout.nav-link.nav-item Log out