nav.navbar.navbar-expand-md.bg-dark.navbar-dark
  a.navbar-brand(href='https://github.com/vashenko49/step-project-notes/tree/create_temlateBack_and_authorization') Step Project Notes
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
    span.navbar-toggler-icon
  #collapsibleNavbar.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/') Home
      li.nav-item
        a.nav-link(href='notes') Create Usual Card
      li.nav-item
        a.nav-link(href='#') Create Check Box Card
      li.nav-item
        a#logout.nav-link(href='#') Log out