div.imgCard
    .position-relative.d-inline-block
        button#removeImg.btn.btn-danger.position-absolute.closeImg.visibleBtnImg(type='button' aria-label='Close')
              span.fa.fa-close
        img.img-thumbnail(src=imgSrc alt='not found')
