html
    include includes/head.pug
body
    include modalWindowLogin.pug
    include includes/header.pug
    h1.text-center.font-weight-normal Add new list
    form.px-5
      .form-group
        label(for='title') Name of list
        input#title.form-control(type='text' aria-describedby='title' placeholder='Name of note' name='title')
      .form-group
        label(for='text') Example list
        .input-group.dynamic-form-input
            input.form-control(name='itemList' type='text' placeholder='Add new item')
            span.input-group-append
                button.btn.btn-primary.btn-add(type='button' id='addNewItemList')
                    span.fa.fa-plus
      button.btn.btn-primary(type='submit' id='btnCreateListForm') Submit
    include includes/footer.pug