#error-singup.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true' data-backdrop="false")
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Wrong login or password
      .modal-body
        button#repeat-login.btn.btn-primary(type='submit') Repeat login