#regist.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true' data-backdrop="false")
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Registration
      .modal-body
        form#registration
          .form-group
            label(for='InputEmail') Email address
            input#InputEmail.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email' required='')
            small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
          .form-group
            label(for='InputPassword') Password
            input#InputPassword.form-control(type='password' placeholder='Password' required='')
          .modal-footer
            button.btn.btn-primary(type='submit') Registration