button.btn.btn-primary.card-link.mx-3.my-1(type='button' data-typeBtn="remove-card") Remove Car
button.btn.btn-primary.card-link.mx-3.my-1(type='button' data-typeBtn="change-card") Change Card
button.btn.btn-primary.card-link.mx-3.my-1(type='button' data-typeBtn="more-information") More Information